// Variabel Grid
$jumlah-kolom: 12;
$pemisah: 1em;

// Variabel Tipografi
$warna-teks: #333;
$warna-teks-terang: lighten($warna-teks, 30%);
$warna-link: #0f82bd;
$warna-hr: #ccc;

$garis-landasan: 1.5em;

$bentuk-huruf: Helvetica, "Helvetica Neue", Arial, sans-serif;

$ukuran-h1: 3.998em;
$ukuran-h2: 2.827em;
$ukuran-h3: 1.999em;
$ukuran-h4: 1.414em;
$ukuran-h5: 1em;
$ukuran-h6: .707em;

// Variabel Tombol
$kebulatan-tombol: 3px;

$ukuran-tombol-kecil: .75em;
$ukuran-tombol-besar: 2em;

$warna-latar-tombol-default: #dde2d4;
$warna-teks-tombol-default: #333;

$warna-latar-tombol-utama: #0f82bd;
$warna-teks-tombol-utama: lighten(#0f82bd, 50%);

// Variabel Formulir
$warna-bidang-border: #ccc;
$warna-bidang-error: red;
$warna-bidang-wajib-diisi: red;
