// Variabel Grid
$kolom-jumlah: 12;
$kolom-pemisah: 1em;

// Variabel Tipografi
$teks-warna: #333;
$teks-warna-terang: lighten($teks-warna, 30%);
$link-warna: #0f82bd;
$hr-warna: #ccc;

$landasan-garis: 1.5em;

$huruf-bentuk: Helvetica, "Helvetica Neue", Arial, sans-serif;

$h1-ukuran: 3.998em;
$h2-ukuran: 2.827em;
$h3-ukuran: 1.999em;
$h4-ukuran: 1.414em;
$h5-ukuran: 1em;
$h6-ukuran: .707em;

// Variabel Tombol
$tombol-kebulatan: 3px;

$tombol-ukuran-kecil: .75em;
$tombol-ukuran-besar: 2em;

$tombol-warna-latar-default: #dde2d4;
$tombol-warna-teks-default: #333;

$tombol-utama-warna-latar: #0f82bd;
$tombol-utama-warna-teks: lighten(#0f82bd, 50%);

// Variabel Formulir
$bidang-warna-border: #ccc;
$bidang-warna-error: red;
$bidang-warna-wajib-diisi: red;

// Variabel Ikon
$ikon-sudut-lengkung: 3px;
$ikon-warna-border: #ccc;
