@import "../pengaturan/pengaturan";

* {
	margin: 0;
	padding: 0;
}

html {
	font-size: 1em;
}

html,
input,
button,
textarea {
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
}

body {
	color: $teks-warna;
	font-family: $huruf-bentuk;
	line-height: $landasan-garis;
}

p {
	margin: $landasan-garis;
}

a,
a:visited {
	color: $link-warna;
}

hr {
	border: 0;
	background-color: $hr-warna;
	height: 1px;
	margin: $landasan-garis 0;
}

#{headings()} {
	margin: $landasan-garis/2 0;
	line-height: 1.2;
}

h5,h6 {
	line-height: 1.5;
	letter-spacing: 1px;
	text-transform: uppercase;
}

h1 {
	font-size: $h1-ukuran;
}

h2 {
	font-size: $h2-ukuran;
}

h3 {
	font-size: $h3-ukuran;
}

h4 {
	font-size: $h4-ukuran;
}

h5 {
	font-size: $h5-ukuran;
}

h6 {
	font-size: $h6-ukuran;
}

ul,
ol {
	margin: 0 0 $landasan-garis $landasan-garis;
	padding: 0;
}

blockquote {
	color: $teks-warna-terang;
	font-style: italic;
	margin-left: $landasan-garis;

	footer {
		@extend small;
	}
}
