@import "../pengaturan/pengaturan";

button,
.tombol,
a.tombol {
	border: 0;
	border-radius: $kebulatan-tombol;

	background-color: $warna-latar-tombol-default;
	
	color: $warna-teks-tombol-default;
	cursor: pointer;

	line-height: 1;
	font-family: inherit;
	font-size: inherit;

	text-decoration: none;

	display: inline-block;
	padding: .75em 1.5em;

	&:hover {
		background-color: $warna-teks;
		color: #fff;
	}

	&:active {
		background-color: lighten($warna-teks, 10%);
	}

	&:focus {
		outline: none;
	}
}

.tombol-utama {
	@extend .tombol;
	background-color: $warna-latar-tombol-utama;
	color: $warna-teks-tombol-utama;
}

.tombol-kecil {
	@extend .tombol;
	font-size: $ukuran-tombol-kecil;
}

.tombol-besar {
	@extend .tombol;
	font-size: $ukuran-tombol-besar;
	font-weight: bold;
}