@import "../pengaturan/pengaturan";

button,
.tombol,
a.tombol {
	border: 0;
	border-radius: $tombol-kebulatan;

	background-color: $tombol-warna-latar-default;
	
	color: $tombol-warna-teks-default;
	cursor: pointer;

	line-height: 1;
	font-family: inherit;
	font-size: inherit;

	text-decoration: none;

	display: inline-block;
	padding: .75em 1.5em;

	&:hover {
		background-color: $teks-warna;
		color: #fff;
	}

	&:active {
		background-color: lighten($teks-warna, 10%);
	}

	&:focus {
		outline: none;
	}
}

.tombol-utama {
	@extend .tombol;
	background-color: $tombol-utama-warna-latar;
	color: $tombol-utama-warna-teks;
}

.tombol-kecil {
	@extend .tombol;
	font-size: $tombol-ukuran-kecil;
}

.tombol-besar {
	@extend .tombol;
	font-size: $tombol-ukuran-besar;
	font-weight: bold;
}